In [28]:
"""Data Analyzing & Cleaning"""

from pathlib import Path
from data.clean_data import clean_data
import matplotlib as plot
import pandas as pd
import numpy as np
import requests

In [ ]:
# Check if raw data exists
if not Path('./data/csv/raw_data.csv').exists():
  print('none file')
  df = pd.read_csv(
    "https://web-app-media-assests.sfo3.cdn.digitaloceanspaces.com/Indicators_of_Heart_Disease/2022/heart_2022_with_nans.csv"
	)
else: df = pd.read_csv('data/csv/raw_data.csv')

Key Features for a Predictive Model

For a predictive machine learning model, the strongest predictors are likely:

	- HadHeartAttack
	- HadAngina
	- HadStroke
	- HadDiabetes
	- SmokerStatus
	- BMI
	- AgeCategory
	- Sex

In [30]:
df

,Unnamed: 0,State,Sex,GeneralHealth,PhysicalHealthDays,MentalHealthDays,LastCheckupTime,PhysicalActivities,SleepHours,RemovedTeeth,...,HeightInMeters,WeightInKilograms,BMI,AlcoholDrinkers,HIVTesting,FluVaxLast12,PneumoVaxEver,TetanusLast10Tdap,HighRiskLastYear,CovidPos
0,0,Alabama,Female,Very good,0.0,0.0,Within past year (anytime less than 12 months ...,No,8.0,NaN,...,NaN,NaN,NaN,No,No,Yes,No,"Yes, received tetanus shot but not sure what type",No,No
1,1,Alabama,Female,Excellent,0.0,0.0,NaN,No,6.0,NaN,...,1.60,68.04,26.57,No,No,No,No,"No, did not receive any tetanus shot in the pa...",No,No
2,2,Alabama,Female,Very good,2.0,3.0,Within past year (anytime less than 12 months ...,Yes,5.0,NaN,...,1.57,63.50,25.61,No,No,No,No,NaN,No,Yes
3,3,Alabama,Female,Excellent,0.0,0.0,Within past year (anytime less than 12 months ...,Yes,7.0,NaN,...,1.65,63.50,23.30,No,No,Yes,Yes,"No, did not receive any tetanus shot in the pa...",No,No
4,4,Alabama,Female,Fair,2.0,0.0,Within past year (anytime less than 12 months ...,Yes,9.0,NaN,...,1.57,53.98,21.77,Yes,No,No,Yes,"No, did not receive any tetanus shot in the pa...",No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
445127,445127,Virgin Islands,Female,Good,0.0,3.0,Within past 2 years (1 year but less than 2 ye...,Yes,6.0,None of them,...,1.65,69.85,25.63,NaN,Yes,No,No,"No, did not receive any tetanus shot in the pa...",No,Yes
445128,445128,Virgin Islands,Female,Excellent,2.0,2.0,Within past year (anytime less than 12 months ...,Yes,7.0,None of them,...,1.70,83.01,28.66,No,Yes,Yes,No,"Yes, received tetanus shot but not sure what type",No,No
445129,445129,Virgin Islands,Female,Poor,30.0,30.0,5 or more years ago,No,5.0,1 to 5,...,1.70,49.90,17.23,NaN,No,No,No,"No, did not receive any tetanus shot in the pa...",No,No
445130,445130,Virgin Islands,Male,Very good,0.0,0.0,Within past year (anytime less than 12 months ...,No,5.0,None of them,...,1.83,108.86,32.55,No,Yes,Yes,Yes,"No, did not receive any tetanus shot in the pa...",No,Yes
445131,445131,Virgin Islands,Male,Very good,0.0,1.0,NaN,Yes,5.0,None of them,...,1.68,63.50,22.60,Yes,No,No,No,"Yes, received tetanus shot but not sure what type",No,No

In [31]:
df = clean_data(df, 'data/csv/')

In [32]:
df

,Unnamed: 0,PhysicalHealthDays,MentalHealthDays,SleepHours,HeightInMeters,WeightInKilograms,BMI,GeneralHealthIDs,AgeCategoryIDs,RaceEthnicityCategoryIDs,...,StateIDs,SexBI,PhysicalActivitiesBI,HadHeartAttackBI,HadAnginaBI,HadStrokeBI,HadArthritisBI,HadDiabetesBI,AlcoholDrinkersBI,HighRiskLastYearBI
0,0,0.0,0.0,8.0,1.70,80.74,27.44,2,12,3,...,11,1,0,0,0,0,0,1.0,0,0
1,1,0.0,0.0,6.0,1.60,68.04,26.57,0,12,3,...,11,1,0,0,0,0,0,0.0,0,0
2,2,2.0,3.0,5.0,1.57,63.50,25.61,2,7,3,...,11,1,1,0,0,0,0,0.0,0,0
3,3,0.0,0.0,7.0,1.65,63.50,23.30,0,9,3,...,11,1,1,0,0,0,1,0.0,0,0
4,4,2.0,0.0,9.0,1.57,53.98,21.77,3,4,3,...,11,1,1,0,0,0,0,0.0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
445127,445127,0.0,3.0,6.0,1.65,69.85,25.63,1,0,2,...,0,1,1,0,0,0,0,0.0,1,0
445128,445128,2.0,2.0,7.0,1.70,83.01,28.66,0,6,2,...,0,1,1,0,0,0,0,0.0,0,0
445129,445129,30.0,30.0,5.0,1.70,49.90,17.23,4,9,3,...,0,1,0,0,0,0,0,0.0,1,0
445130,445130,0.0,0.0,5.0,1.83,108.86,32.55,2,10,2,...,0,0,0,1,0,0,0,0.0,0,0
445131,445131,0.0,1.0,5.0,1.68,63.50,22.60,2,4,2,...,0,0,1,0,0,0,0,0.0,1,0