In [37]:
"""Data Analyzing & Cleaning"""

import matplotlib as plot # type: ignore
import pandas as pd # type: ignore
import numpy as np # type: ignore
import requests # type: ignore

In [38]:

data_eps = [
	'https://web-app-media-assests.sfo3.cdn.digitaloceanspaces.com/Indicators_of_Heart_Disease/2020/heart_2020_cleaned.csv',
	'https://web-app-media-assests.sfo3.cdn.digitaloceanspaces.com/Indicators_of_Heart_Disease/2022/heart_2022_no_nans.csv',
	'https://web-app-media-assests.sfo3.cdn.digitaloceanspaces.com/Indicators_of_Heart_Disease/2022/heart_2022_with_nans.csv'
]

dfs = {}

for i, e in enumerate(data_eps):
  response = requests.get(data_eps[i])
  
  if response.status_code == 200:
    dfs[f'df_{i}'] = pd.read_csv(data_eps[i])
    print('Success')
  else:
    print('Failure')
  print(data_eps[i])
  print(f'df_{i}')

Success
https://web-app-media-assests.sfo3.cdn.digitaloceanspaces.com/Indicators_of_Heart_Disease/2020/heart_2020_cleaned.csv
df_0
Success
https://web-app-media-assests.sfo3.cdn.digitaloceanspaces.com/Indicators_of_Heart_Disease/2022/heart_2022_no_nans.csv
df_1
Success
https://web-app-media-assests.sfo3.cdn.digitaloceanspaces.com/Indicators_of_Heart_Disease/2022/heart_2022_with_nans.csv
df_2

In [39]:
df1 = pd.DataFrame(dfs['df_0'])
df2 = pd.DataFrame(dfs['df_1'])
df3 = pd.DataFrame(dfs['df_2'])

In [40]:
df1.sample(n=5)

,HeartDisease,BMI,Smoking,AlcoholDrinking,Stroke,PhysicalHealth,MentalHealth,DiffWalking,Sex,AgeCategory,Race,Diabetic,PhysicalActivity,GenHealth,SleepTime,Asthma,KidneyDisease,SkinCancer
62064,No,36.80,No,No,No,0.0,0.0,No,Male,55-59,Other,"No, borderline diabetes",Yes,Excellent,8.0,No,No,No
193313,No,35.78,No,No,No,0.0,0.0,No,Male,50-54,Hispanic,Yes,Yes,Fair,4.0,No,Yes,No
167750,No,37.12,Yes,No,No,0.0,0.0,No,Female,65-69,White,Yes,No,Fair,8.0,Yes,No,No
169341,No,29.04,No,No,No,10.0,0.0,No,Male,60-64,White,Yes,Yes,Very good,8.0,No,No,No
123754,No,29.43,No,No,No,0.0,0.0,No,Male,35-39,Black,No,Yes,Very good,5.0,No,No,No

In [41]:
df2.sample(n=5)

,State,Sex,GeneralHealth,PhysicalHealthDays,MentalHealthDays,LastCheckupTime,PhysicalActivities,SleepHours,RemovedTeeth,HadHeartAttack,...,HeightInMeters,WeightInKilograms,BMI,AlcoholDrinkers,HIVTesting,FluVaxLast12,PneumoVaxEver,TetanusLast10Tdap,HighRiskLastYear,CovidPos
169851,Oregon,Male,Excellent,0.0,0.0,Within past year (anytime less than 12 months ...,Yes,7.0,None of them,No,...,1.80,86.18,26.50,No,Yes,No,No,"Yes, received tetanus shot but not sure what type",No,Yes
1535,Alabama,Female,Fair,20.0,10.0,Within past year (anytime less than 12 months ...,No,4.0,"6 or more, but not all",No,...,1.60,78.02,30.47,No,Yes,Yes,Yes,"Yes, received Tdap",No,No
25394,Connecticut,Male,Fair,25.0,5.0,Within past year (anytime less than 12 months ...,No,6.0,1 to 5,No,...,1.68,81.65,29.05,No,Yes,No,No,"No, did not receive any tetanus shot in the pa...",No,Yes
12869,Arkansas,Female,Very good,0.0,0.0,Within past year (anytime less than 12 months ...,No,7.0,1 to 5,No,...,1.57,68.04,27.44,No,No,No,Yes,"Yes, received Tdap",No,Yes
131920,Nevada,Female,Very good,0.0,7.0,Within past year (anytime less than 12 months ...,Yes,8.0,None of them,No,...,1.60,61.23,23.91,Yes,Yes,No,No,"Yes, received Tdap",No,Yes

In [42]:
df3.sample(n=5)

,State,Sex,GeneralHealth,PhysicalHealthDays,MentalHealthDays,LastCheckupTime,PhysicalActivities,SleepHours,RemovedTeeth,HadHeartAttack,...,HeightInMeters,WeightInKilograms,BMI,AlcoholDrinkers,HIVTesting,FluVaxLast12,PneumoVaxEver,TetanusLast10Tdap,HighRiskLastYear,CovidPos
356257,Texas,Female,Excellent,0.0,15.0,Within past year (anytime less than 12 months ...,Yes,5.0,None of them,No,...,1.63,84.82,32.10,No,Yes,No,Yes,"No, did not receive any tetanus shot in the pa...",No,No
439701,Puerto Rico,Female,Good,0.0,0.0,Within past year (anytime less than 12 months ...,Yes,8.0,None of them,No,...,1.60,74.84,29.23,Yes,No,No,No,"No, did not receive any tetanus shot in the pa...",No,No
326775,South Carolina,Female,Very good,8.0,5.0,Within past year (anytime less than 12 months ...,Yes,8.0,1 to 5,No,...,1.63,93.89,35.53,Yes,No,No,No,"Yes, received Tdap",No,Yes
95509,Idaho,Female,Good,0.0,0.0,Within past year (anytime less than 12 months ...,No,6.0,None of them,No,...,1.60,58.97,23.03,No,No,Yes,NaN,NaN,No,No
131897,Kansas,Male,Excellent,0.0,15.0,Within past 2 years (1 year but less than 2 ye...,Yes,7.0,None of them,No,...,1.78,78.02,24.68,Yes,Yes,Yes,No,"Yes, received Tdap",No,No

In [43]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 445132 entries, 0 to 445131
Data columns (total 40 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   State                      445132 non-null  object
 1   Sex                        445132 non-null  object
 2   GeneralHealth              443934 non-null  object
 3   PhysicalHealthDays         434205 non-null  float64
 4   MentalHealthDays           436065 non-null  float64
 5   LastCheckupTime            436824 non-null  object
 6   PhysicalActivities         444039 non-null  object
 7   SleepHours                 439679 non-null  float64
 8   RemovedTeeth               433772 non-null  object
 9   HadHeartAttack             442067 non-null  object
 10  HadAngina                  440727 non-null  object
 11  HadStroke                  443575 non-null  object
 12  HadAsthma                  443359 non-null  object
 13  HadSkinCancer              441989 non-null  object
 14  HadCOPD                    442913 non-null  object
 15  HadDepressiveDisorder      442320 non-null  object
 16  HadKidneyDisease           443206 non-null  object
 17  HadArthritis               442499 non-null  object
 18  HadDiabetes                444045 non-null  object
 19  DeafOrHardOfHearing        424485 non-null  object
 20  BlindOrVisionDifficulty    423568 non-null  object
 21  DifficultyConcentrating    420892 non-null  object
 22  DifficultyWalking          421120 non-null  object
 23  DifficultyDressingBathing  421217 non-null  object
 24  DifficultyErrands          419476 non-null  object
 25  SmokerStatus               409670 non-null  object
 26  ECigaretteUsage            409472 non-null  object
 27  ChestScan                  389086 non-null  object
 28  RaceEthnicityCategory      431075 non-null  object
 29  AgeCategory                436053 non-null  object
 30  HeightInMeters             416480 non-null  float64
 31  WeightInKilograms          403054 non-null  float64
 32  BMI                        396326 non-null  float64
 33  AlcoholDrinkers            398558 non-null  object
 34  HIVTesting                 379005 non-null  object
 35  FluVaxLast12               398011 non-null  object
 36  PneumoVaxEver              368092 non-null  object
 37  TetanusLast10Tdap          362616 non-null  object
 38  HighRiskLastYear           394509 non-null  object
 39  CovidPos                   394368 non-null  object
dtypes: float64(6), object(34)
memory usage: 135.8+ MB

In [44]:
df3.isnull().sum()

State                            0
Sex                              0
GeneralHealth                 1198
PhysicalHealthDays           10927
MentalHealthDays              9067
LastCheckupTime               8308
PhysicalActivities            1093
SleepHours                    5453
RemovedTeeth                 11360
HadHeartAttack                3065
HadAngina                     4405
HadStroke                     1557
HadAsthma                     1773
HadSkinCancer                 3143
HadCOPD                       2219
HadDepressiveDisorder         2812
HadKidneyDisease              1926
HadArthritis                  2633
HadDiabetes                   1087
DeafOrHardOfHearing          20647
BlindOrVisionDifficulty      21564
DifficultyConcentrating      24240
DifficultyWalking            24012
DifficultyDressingBathing    23915
DifficultyErrands            25656
SmokerStatus                 35462
ECigaretteUsage              35660
ChestScan                    56046
RaceEthnicityCategory        14057
AgeCategory                   9079
HeightInMeters               28652
WeightInKilograms            42078
BMI                          48806
AlcoholDrinkers              46574
HIVTesting                   66127
FluVaxLast12                 47121
PneumoVaxEver                77040
TetanusLast10Tdap            82516
HighRiskLastYear             50623
CovidPos                     50764
dtype: int64

In [45]:
df3 = df3.drop(columns=["DeafOrHardOfHearing", "BlindOrVisionDifficulty", "DifficultyConcentrating", "DifficultyWalking", "DifficultyDressingBathing", "DifficultyErrands", "HeightInMeters"])
df3.isna().sum()

State                        0
Sex                          0
GeneralHealth             1198
PhysicalHealthDays       10927
MentalHealthDays          9067
LastCheckupTime           8308
PhysicalActivities        1093
SleepHours                5453
RemovedTeeth             11360
HadHeartAttack            3065
HadAngina                 4405
HadStroke                 1557
HadAsthma                 1773
HadSkinCancer             3143
HadCOPD                   2219
HadDepressiveDisorder     2812
HadKidneyDisease          1926
HadArthritis              2633
HadDiabetes               1087
SmokerStatus             35462
ECigaretteUsage          35660
ChestScan                56046
RaceEthnicityCategory    14057
AgeCategory               9079
WeightInKilograms        42078
BMI                      48806
AlcoholDrinkers          46574
HIVTesting               66127
FluVaxLast12             47121
PneumoVaxEver            77040
TetanusLast10Tdap        82516
HighRiskLastYear         50623
CovidPos                 50764
dtype: int64

In [46]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 445132 entries, 0 to 445131
Data columns (total 33 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   State                  445132 non-null  object
 1   Sex                    445132 non-null  object
 2   GeneralHealth          443934 non-null  object
 3   PhysicalHealthDays     434205 non-null  float64
 4   MentalHealthDays       436065 non-null  float64
 5   LastCheckupTime        436824 non-null  object
 6   PhysicalActivities     444039 non-null  object
 7   SleepHours             439679 non-null  float64
 8   RemovedTeeth           433772 non-null  object
 9   HadHeartAttack         442067 non-null  object
 10  HadAngina              440727 non-null  object
 11  HadStroke              443575 non-null  object
 12  HadAsthma              443359 non-null  object
 13  HadSkinCancer          441989 non-null  object
 14  HadCOPD                442913 non-null  object
 15  HadDepressiveDisorder  442320 non-null  object
 16  HadKidneyDisease       443206 non-null  object
 17  HadArthritis           442499 non-null  object
 18  HadDiabetes            444045 non-null  object
 19  SmokerStatus           409670 non-null  object
 20  ECigaretteUsage        409472 non-null  object
 21  ChestScan              389086 non-null  object
 22  RaceEthnicityCategory  431075 non-null  object
 23  AgeCategory            436053 non-null  object
 24  WeightInKilograms      403054 non-null  float64
 25  BMI                    396326 non-null  float64
 26  AlcoholDrinkers        398558 non-null  object
 27  HIVTesting             379005 non-null  object
 28  FluVaxLast12           398011 non-null  object
 29  PneumoVaxEver          368092 non-null  object
 30  TetanusLast10Tdap      362616 non-null  object
 31  HighRiskLastYear       394509 non-null  object
 32  CovidPos               394368 non-null  object
dtypes: float64(5), object(28)
memory usage: 112.1+ MB

Key Features for a Predictive Model

For a predictive machine learning model, the strongest predictors are likely:

	- HadHeartAttack
	- HadAngina
	- HadStroke
	- HadDiabetes
	- SmokerStatus
	- BMI
	- AgeCategory
	- Sex